{% extends 'layout.html' %}
{% block content %}
{%load static%}


<!-- menu -->



        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1 class="mt-0 text-primary">Our Menu</h1>
            <p class="lead">We spice you up. Enjoy life a little..</p>

        </div>
        <div class="col-12 mt-4">
            <h3 class="text-center" style="color: #1b1e21;">Enjoy exploring the varieties of food here on Freak Street Chili.</h3>
            <hr class="accent my-5">
        </div>


        <div class="card-columns">
            <div class="card card-body mx-auto">

                <h3 class="text-truncate" style="text-align: center; color:Black;">Spicy Ramen</h3>
                <img src="{%static 'images/2.jpg' %}" style="width:250px;" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 250/-</span>
            </div>
            <div class="card card-body mx-auto">
                
                <h3 class="text-truncate" style="text-align: center; color:Black;">Spicy Mo:Mo</h3>
                <img src="{% static 'images/1.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 200/-</span>
            </div>
            <div class="card card-body mx-auto">
                <h3 class="text-truncate"style="text-align: center; color:Black;">Jhol Mo:Mo</h3>
                <img src="{% static 'images/3.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 200/-</span>
            </div>
            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Fruit Punch</h3>
                <img src="{% static 'images/6.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 150/-</span>
            </div>
            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Spicy Bowl (Korean)</h3>
                <img src="{% static 'images/4.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 300/-</span>
            </div>
            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Spicy Bowl (Thai)</h3>
                <img src="{% static 'images/5.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 300/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Flower Tea</h3>
                <img src="{% static 'images/7.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 100/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Cold Drinks (Any)</h3>
                <img src="{% static 'images/8.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 70/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Green/Black/Herbal Tea</h3>
                <img src="{% static 'images/9.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 50/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Hot Chocolate</h3>
                <img src="{% static 'images/10.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 120/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Banana Lassi</h3>
                <img src="{% static 'images/12.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 150/-</span>
            </div>


            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Sangria</h3>
                <img src="{% static 'images/13.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 200/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Kiwi Mojito</h3>
                <img src="{% static 'images/14.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 250/-</span>
            </div>

            <div class="card card-body mx-auto">
                <h3 class="text-truncate" style="text-align: center; color:Black;">Hot Rum Punch</h3>
                <img src="{% static 'images/15.jpg' %}" style="width:200px" class = "img-responsive">
                <span class="font-weight-bold" style="color:Red; text-align: center;">Rs. 250/-</span>
            </div>


        </div>
        
        <div class="col-12 mt-4">
            <hr class="accent my-5">
        </div>
        <div class="col-6 mx-auto">
            <div class="card card-body text-center">
                <h5 class="text-uppercase" style="color:Red;">Valentine Offer!</h5>
                <h6 style="color:Blue;">Cocktail + Spicy Ramen</h6>
                <p class="font-weight-bold">Combo of Cocktail and spicy Ramen to spice you up!</p>
                <span class="float-right font-weight-bold" style="color:Red;">Rs. 300</span>
            </div>
        </div>
        <div class="col-12 mt-5 border border-right-0 border-left-0">
            <div class="row">
                <div class="col h5">Freak Street Chili</div>
                <div class="col h5 text-right">Jhochen, Kathmandu</div>
            </div>
        </div>







{% endblock %}